<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/contacts.css" />
</head>

<body>

   <h1 class="info-item contact-title">CONTACT US</h1>


    <div class="content">
        
        <div class="company-container">
            <h2 class="info-item">Digital Pathshala PVT. LTD.</h2>
            <div class="info-item"><span class="info-title">Register Office</span><br>Itahari, Sunsari, Koshi Province
            </div>
            <div class="info-item contact-support">
                <span class="support-main-title">Digital Pathshala Support</span>
                <div class="support-section">
                    <span class="support-title">Chat Support</span>
                    <div class="support-line">Contact: 9816366094</div>
                    <div class="support-line email-line">Email : digitalpathshalanp@gmail.com</div>
                </div>
            </div>
        </div>

        <div class="image">
            <img src="/static/Assets/contact.png" alt="Digital Pathshala Logo" class="top-logo-image">
        </div>


        
    </div>

    <div class="digitalpathshala" style="align-items: center; display: flex; justify-content: center;" >
            <div class="contact-container">
                <h2>Communicate with Us</h2>
                <form action="#" method="POST" class="contact-form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required placeholder="Enter your name">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Enter your email">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" required
                        placeholder="Type your message..."></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>


</body>

</html>